<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srmvdp.huddle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".News.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Extras.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Extras.ReadSMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="News"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".LoginRegisterTabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".PhoneNumber"
            android:label="Verify Your Phone Number"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".OTP"
            android:label="One Time Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNavigation"
            android:uiOptions="splitActionBarWhenNarrow" />

        <service
            android:name=".Firebase.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".BioPage"
            android:label="Student Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".SelfProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Extras.AdminPanelIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPanel"
            android:label="Admin Panel"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".TeacherProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".Post" />
        <activity
            android:name=".PostNews"
            android:theme="@style/Theme.Design.Light"
            android:label="Post news"/>
        <activity android:name=".AdminPosts" />
        <activity android:name=".AdminNotifications" />
        <activity android:name=".AdminUsers"></activity>
    </application>

</manifest>