<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srmvdp.huddle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:name=".News.AppController"
        android:allowBackup="true"
        android:icon="@drawable/huddleicon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Extras.Splash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Extras.ReadSMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Extras.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Authentication.LoginRegisterTabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Authentication.PhoneNumber"
            android:label="Verify Your Phone Number"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".Authentication.OTP"
            android:label="One Time Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".Authentication.ForgotPassword"
            android:label="Reset Your Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Authentication.ForgotOTP"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNavigation"
            android:uiOptions="splitActionBarWhenNarrow" />

        <service
            android:name=".Firebase.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Profile.BioPage"
            android:label="Student Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".Profile.SelfProfile"
            android:label="Edit Your Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".Extras.AdminPanelIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPanel.AdminPanel"
            android:label="Admin Panel"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogged" />
        <activity
            android:name=".Teachers.TeacherProfile"
            android:label="Teachers"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AdminPanel.AdminNews"
            android:label="Post News"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AdminPanel.AdminPosts"
            android:label="Class Posts"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AdminPanel.AdminNotifications"
            android:label="Notification Central"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AdminPanel.AdminUsers"
            android:label="Manage Users"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".Teachers.TeacherList"
            android:label="Teachers"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".Teachers.ClassPosts"
            android:label="Post"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".Authentication.ChangePassword"
            android:screenOrientation="portrait"/>
    </application>

</manifest>